{% extends "base.html.twig" %}
{% block main %}
	<h1>ibou.tech</h1>
	<p>Welcome to ibou.tech. I hope you're learning lots of cool stuff!</p>

	<p>Here are some of the things you can do:</p>
{% endblock %}
